/* List */
.pane-ca-advanced-products-list-ca-adv-product-category-list-1 .views-field-field-ca-ad-prod-category-image { text-align: center; }
.pane-ca-advanced-products-list-ca-adv-product-category-list-1 .views-field-title { text-align: center; }
.pane-ca-advanced-products-list-ca-adv-product-sub-cat-list-one .views-field-field-ca-ad-prod-category-image { text-align: center; }
.pane-ca-advanced-products-list-ca-adv-product-sub-cat-list-one .views-field-title { text-align: center; }
.pane-ca-advanced-products-list-ca-adv-product-product-list-1 .views-field-field-ca-adv-product-image { float: left; padding: 0 15px 15px 0; }
.pane-ca-advanced-products-list-ca-adv-product-product-list-1 .views-field-nothing { clear: both; }

/* Node */
.pane-ca-advanced-products-node-ca-adv-product-node-1a { float: left; padding: 0 15px 5px 0; }
.pane-ca-advanced-products-node-ca-adv-product-node-1b { clear: left; width: 200px; float: left; padding: 0 15px 5px 0; }
.pane-ca-adv-product-ca-adv-product-node-1 .views-field-field-ca-adv-product-video {margin-bottom: 10px;}
.pane-addtoany-addtoany-button {text-align: right;}

/* Optiions */
.pane-ca-adv-product-ca-adv-category-options-list-1 .ui-accordion .ui-accordion-header a {padding: 5px;}
.pane-ca-adv-product-ca-adv-category-options-list-1 .ui-accordion-icons .ui-accordion-header a {padding-left: 2.2em;}
.pane-ca-adv-product-ca-adv-category-options-list-1 .views-field-title H3 {margin: 0;}
.pane-ca-adv-product-ca-adv-category-options-list-1 .views-field-field-ca-adv-product-o-image {float: left; margin-right: 10px;}

.pane-ca-adv-product-ca-adv-category-options-list-1 .ui-accordion-content {height: auto !important; padding: 5px 15px;}